.history_page {
    overflow-x: auto;
}

.history_page h2, h4 {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.history_page table {
    margin: auto;
    width: 100%;
}

.history_page table, th, tr, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.history_page th, td {
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
}

.history_page a {
    text-decoration: none;
    color: blue;
}

.history_page img {
    width: 70px;
    height: 100px;
    object-fit: cover;
}