.login_page {
    max-width: 500px;
    border: 1px solid #5555;
    border-radius: 50px;
    margin: 50px auto;
    padding: 30px;
}

.login_page h2 {
    color: #333;
}

.login_page form input,
.login_page form button {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 5px;
    outline: #5555;
    border: 1px solid #5555;
}

.login_page form .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_page form button {
    background-color: brown;
    color: #fff;
    width: 150px;
}

.login_page form a {
    text-decoration: none;
    color: #444;
}