.product {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    margin: 20px 0;
}

/* ---------- ProductItem --------- */

@import url('../utils/ProductItem.css');

.delete_all {
    text-align: center;
    margin: 20px;
}

.delete_all input {
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin: 0 15px;
}

.delete_all span {
    text-transform: uppercase;
    color: #555;
    letter-spacing: 1.3px;
}

.delete_all button {
    border: 1px solid #5555;
    padding: 10px 25px;
    color: #fff;
    text-transform: uppercase;
}

/* ---------- Filter Menu --------- */

.filter_menu {
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 15px 0;
}

.filter_menu select, input {
    padding: 0 10px;
    outline: none;
    border: 1px solid #ccc;
}

.filter_menu input {
    flex: 1;
    margin: 0 10px;
}

/* ----------- Load More ----------- */

.load_more {
    text-align: center;
}

.load_more button {
    padding: 10px 25px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    text-transform: uppercase;
}